# Created by https://www.gitignore.io/api/java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Eclipse config file.
.classpath
.project
.settings/
.DS_Store
.factorypath

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# End of https://www.gitignore.io/api/java
.idea/
*.iml
target/
bin/

# The generated dir when running.
/temp/
/version/
/zookeeper/
/backup/
#data/
/conf/
data/LineMap
# 使用src/main/resources/conf之中的配置文件
/logs/
/output/
.svn/
/job/
*-algo#matching.config
clean-log.sh
